<html>
    <head>
        <title>Olla que Explota!</title>
    </head>
    <body>
        <div>
            <h1><a href="">Grados Submarinos</a></h1>
        </div>

        <div>
            <p>Nunca sentiras el calor de las ballenas</p>
            <h2><a href="">Herramientas de Temperatura</a></h2>
            <p>El frio se mide con la lengua</p>
        </div>

        <div>
            <p>Las focas se descontrolan ante las orcas</p>
            <h2><a href="">La profundidad de las presiones</a></h2>
            <p>El toro mató a la foca.</p>
        </div>
    </body>
</html>
